# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#    Need for slowing down the query loop and date stamps
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
#weather_data_df = pd.read_csv("big_weather_data_df.csv")

#works
#weather_data_o112 = pd.read_csv("../output_data/com_weather_data_df.csv")
#weather_data_df = weather_data_o112
#weather_data_o112

weather_data_df = pd.read_csv("output_2/big_weather_data_df.csv")

In [7]:
#time stamp
epoch = (time.time())

# converts epoch into something useful
#time.strftime("%a, %d %b %Y %H:%M:%S", time.localtime(epoch))
time_stamp = time.strftime("%d %b %Y %H:%M:%S", time.localtime(epoch))
time_stamp

'21 Oct 2020 09:35:48'

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
 # Store latitude and longitude in locations
locations = weather_data_df[["Latitude", "Longitude"]]

#extra import probably delete
# Fill NaN values and convert to float
humid = weather_data_df["Humidity (RH)%"].astype(float)

In [9]:
gmaps.configure(api_key = g_key)

In [10]:
# Plot Heatmap
fig = gmaps.figure(center = [0,0],zoom_level = 2)


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid , 
                                 dissipating=False, max_intensity=85,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

#label map


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
    * Drop any rows will null values.

    * A max temperature lower than 80 degrees but higher than 70.
    * Wind speed less than 10 mph.
    * Zero cloudiness.
    * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [12]:
weather_data_df

,Unnamed: 0,City ID,City,Country Code,Latitude,Longitude,Temp Kelvin,Temp C,Temp F,Humidity (RH)%,Cloud% Cover,wind speed (m/s),wind speed (mph),Time stamp
0,0,2353099,Abakaliki,NG,6.32,8.12,303.18,30.0,86.0,73,48,1.65,3.67,['20 Oct 2020 12:23:44']
1,1,110690,Abhā,SA,18.22,42.51,293.15,20.0,68.0,10,1,5.10,11.33,['20 Oct 2020 12:23:44']
2,2,2324433,Abonnema,NG,4.71,6.79,301.15,28.0,82.0,78,75,2.60,5.78,['20 Oct 2020 12:23:44']
3,3,172515,Abu Samrah,SY,35.30,37.18,297.13,24.0,75.0,28,0,3.90,8.67,['20 Oct 2020 12:23:44']
4,4,3408368,Acaraú,BR,-2.89,-40.12,304.66,32.0,89.0,51,49,10.20,22.67,['20 Oct 2020 12:23:44']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,597,2220853,Yokadouma,CM,3.52,15.05,296.35,23.0,74.0,84,23,0.59,1.31,['20 Oct 2020 12:23:44']
598,598,6355222,Yulara,AU,-25.24,130.99,295.15,22.0,72.0,56,0,3.60,8.00,['20 Oct 2020 12:23:44']
599,599,2317982,Yuli,NG,9.70,10.27,301.90,29.0,84.0,47,40,1.67,3.71,['20 Oct 2020 12:23:44']
600,600,464790,Zapolyarnyy,RU,69.42,30.81,274.15,1.0,34.0,98,90,5.10,11.33,['20 Oct 2020 12:23:44']
601,601,1485020,Znamenskoye,RU,57.13,73.83,280.85,8.0,46.0,86,100,4.00,8.89,['20 Oct 2020 12:23:44']

In [13]:
mod_temp = weather_data_df.loc[(weather_data_df["Temp F"] < 80) & (weather_data_df["Temp F"] > 70) & (weather_data_df["wind speed (mph)"] < 10) & (weather_data_df["Cloud% Cover"] == 0)].copy()

In [14]:
mod_temp

,Unnamed: 0,City ID,City,Country Code,Latitude,Longitude,Temp Kelvin,Temp C,Temp F,Humidity (RH)%,Cloud% Cover,wind speed (m/s),wind speed (mph),Time stamp
3,3,172515,Abu Samrah,SY,35.30,37.18,297.13,24.0,75.0,28,0,3.90,8.67,['20 Oct 2020 12:23:44']
101,101,934649,Cap Malheureux,MU,-19.98,57.61,297.59,24.0,76.0,67,0,4.02,8.93,['20 Oct 2020 12:23:44']
108,108,4459343,Carrboro,US,35.91,-79.08,296.09,23.0,73.0,75,0,0.75,1.67,['20 Oct 2020 12:23:44']
113,113,1161724,Chabahar,IR,25.29,60.64,299.15,26.0,79.0,61,0,3.10,6.89,['20 Oct 2020 12:23:44']
175,175,293842,Kiryat Gat,IL,31.61,34.76,299.41,26.0,79.0,37,0,4.16,9.24,['20 Oct 2020 12:23:44']
184,184,934479,Grand Gaube,MU,-20.01,57.66,297.59,24.0,76.0,67,0,4.02,8.93,['20 Oct 2020 12:23:44']
287,287,3695466,La Unión,PE,-5.40,-80.75,299.51,26.0,79.0,46,0,3.69,8.20,['20 Oct 2020 12:23:44']
329,329,1263622,Mānsa,IN,29.98,75.38,296.17,23.0,73.0,19,0,1.45,3.22,['20 Oct 2020 12:23:44']
348,348,123941,Mīnāb,IR,27.15,57.08,295.15,22.0,72.0,18,0,2.10,4.67,['20 Oct 2020 12:23:44']
366,366,884927,Mutoko,ZW,-17.40,32.23,298.99,26.0,79.0,27,0,2.60,5.78,['20 Oct 2020 12:23:44']
434,434,2138555,Poum,NC,-20.23,164.02,296.63,23.0,74.0,70,0,2.92,6.49,['20 Oct 2020 12:23:44']
524,524,286245,Sur,OM,22.57,59.53,297.55,24.0,76.0,61,0,2.17,4.82,['20 Oct 2020 12:23:44']
598,598,6355222,Yulara,AU,-25.24,130.99,295.15,22.0,72.0,56,0,3.60,8.00,['20 Oct 2020 12:23:44']

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
 # set up additional columns to hold information
mod_temp["Hotel Name"] = ""
mod_temp["Hotel Address"] = ""
mod_temp["Hotel Rating"] = ""
mod_temp.head()

,Unnamed: 0,City ID,City,Country Code,Latitude,Longitude,Temp Kelvin,Temp C,Temp F,Humidity (RH)%,Cloud% Cover,wind speed (m/s),wind speed (mph),Time stamp,Hotel Name,Hotel Address,Hotel Rating
3,3,172515,Abu Samrah,SY,35.30,37.18,297.13,24.0,75.0,28,0,3.90,8.67,['20 Oct 2020 12:23:44'],,,
101,101,934649,Cap Malheureux,MU,-19.98,57.61,297.59,24.0,76.0,67,0,4.02,8.93,['20 Oct 2020 12:23:44'],,,
108,108,4459343,Carrboro,US,35.91,-79.08,296.09,23.0,73.0,75,0,0.75,1.67,['20 Oct 2020 12:23:44'],,,
113,113,1161724,Chabahar,IR,25.29,60.64,299.15,26.0,79.0,61,0,3.10,6.89,['20 Oct 2020 12:23:44'],,,
175,175,293842,Kiryat Gat,IL,31.61,34.76,299.41,26.0,79.0,37,0,4.16,9.24,['20 Oct 2020 12:23:44'],,,

In [16]:
# find the closest restaurant of each type to coordinates

# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "hotel",
    #"keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in mod_temp.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
      

########     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#   print(name_address.url)
 #########   # convert to json
#    name_address = name_address.json()
#    print(json.dumps(name_address, indent=4, sort_keys=True))

#name_address

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        mod_temp.loc[index,"Hotel Name"] = name_address["results"][0]["name"]
        #mod_temp.loc[index,"Hotel Address"] = name_address["results"][0]["vicinity"]
        #mod_temp.loc[index,"Hotel Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

TypeError: 'Response' object is not subscriptable

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure